@charset "UTF-8";

.modal-login {
  width: 80em;
  height: 80rem;
}
.modal-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content {
  display: grid;
  align-items: center;
  width: 100%;
}

.card {
  background-color: #fff;
  border-radius: 0.5rem;
  margin: 0 auto;
  padding: 4.8rem 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card .form-container {
  flex: 1;
  display: flex;
  margin-top: 1.8rem;
  width: 100%;
}

.card .form-container .authentication-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 42.6rem;
  margin-right: 11rem;
}

.card .form-container .authentication-form .description-container .description {
  font-size: 1.6rem;
  font-weight: 500;
}

.card .form-container .authentication-form .form-field .user-email {
  line-height: 4rem;
  color: #b1b7c3;
  font-size: 1.6rem;
  font-weight: 400;
}

.card .form-container .authentication-form .form-field .input-container {
  width: 100%;
}

.card .form-container .authentication-form .form-field .input-container .input {
  width: 100%;
  padding: 1rem;
  border-radius: 0.3rem;
  box-shadow: -0.5px -0.5px 0 0 #b1b7c3, 1px 1px 0 0 #b1b7c3;
  outline: none;
  color: #333;
  font-size: 1.5rem;
}

.card
  .form-container
  .authentication-form
  .form-field
  .input-container
  .input::placeholder {
  color: #b1b7c3;
}

.card .form-container .right-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.card .form-container .right-container .illustration-section {
  display: grid;
  place-items: center;
  width: 100%;
}

.card
  .form-container
  .right-container
  .illustration-section
  .join-illustration {
  width: 16rem;
  height: 12.7rem;
}

.card .form-container .right-container .illustration-section span {
  margin-top: 2.5rem;
  text-align: center;
  color: #333;
  font-size: 1.6rem;
  font-weight: 400;
}

.card .button-section {
  margin-top: 2.8rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
}

.card .button-section .before-button {
  background-color: transparent;
  color: #777d89;
  font-size: 1.4rem;
  font-weight: 400;
}

.card .button-section .before-button:hover {
  color: #008ff6;
}

.card .button-section .next-button {
  width: 9.6rem;
  height: 4rem;
  background-color: #008ff6;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 0.3rem;
}
