.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Add-box {
    width: 450px;
    height: 500px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff0aa;
    text-align: center;
}

.add-h1 {
    display: flex;
    justify-content: center;
    padding-right: 110px;
    font-size: 30px;
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 40px;
}

.leftArrow {
    padding-right: 100px;
}

.h1 img {
    width: auto;
    height: auto;
    cursor: pointer;
}

.Add-check {
    padding: 7px;
    margin-top: 8px;
    margin-left: 7px;
    border: none;
    background-color: white;
    color: #939393;
    margin-bottom: 5px;
}

.login {
    width: 36.5%;
    padding: 7px;
    margin-top: 8px;
    border: none;
    margin-bottom: 5px;
    margin-right: 7px;
}

.domain {
    width: 36.5%;
    padding: 7px;
    margin-top: 8px;
    border: none;
    margin-bottom: 5px;
    margin-left: 7px;
}

.Add {
    width: 80%;
    padding: 7px;
    margin-top: 8px;
    border: none;
    margin-bottom: 5px;
}

.Add-up {
    width: 80%;
    padding: 10px;
    margin-top: 2rem;
    border: none;
    color: white;
    font-weight: bolder;
    background-color: #ffc700;
}

.add-up:disabled {
    background-color: #939393;
}

.error-message {
    color: red;
    font-size: 12px;
}

input:focus {
    border-color: #939393;
    outline: none;
}
