.editPageBack {
  font-size: 25px;
  padding: 40px 0px 0px 40px;
  background-color: white;
  border: none;
  /* border: 1px solid red; */
}

.editSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* border: 1px solid red; */
}

.editLeftSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px 130px 50px 50px;
  /* border: 1px solid red; */
}

.editProfile {
  padding-top: 90px;
}

.editProfile img {
  width: 250px;
  height: 250px;
  border-radius: 50%; /* 이미지를 원형으로 만듭니다. */
  object-fit: cover; /* 이미지를 자르지 않고 조정합니다. */
}

.editProfile {
  position: relative;
  display: inline-block;
}

.editProfileIcon {
  position: absolute;
  font-size: 30px;
  bottom: 20px;
  right: 30px;
  opacity: 70%;
}

.editRightSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: auto;
  margin: 30px 0px 50px 50px;
  padding: 30px;
  /* border: 1px solid green; */
}

.userInfo {
  margin: 30px;
  align-items: start;
  display: felx;
}

.textInfo {
  font-size: 18px;
  font-weight: bold;
  width: 120px;
  margin-right: 30px;
  /* border: 1px solid orange; */
}

.textBox {
  width: 250px;
  background-color: #fff9de;
  padding: 10px 10px 10px 5px;
  border: none;
  border-radius: 8px;
}

.editTextBox {
  width: 250px;
  background-color: white;
  padding: 10px 10px 10px 5px;
  border: 1px solid #996602;
  border-radius: 8px;
}

.editButtonBox {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid orange; */
}

.editButton {
  background-color: #fff0aa;
  color: #996602;
  font-weight: bold;
  font-size: 17px;
  border: none;
  border-radius: 10px;
  margin: 20px;
  padding: 10px 20px 10px 20px;
}

.error {
  color: red;
  font-size: 12px;
  padding-top: 5px;
  margin-top: 5px;
  margin-left: 10rem;
  display: block;
}
