.myPage-box {
  display: flex;
  flex-direction: row;
  padding-top: 5rem;
  justify-content: center;
}

.left-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px 50px 50px 50px;
}

.profile-photo img {
  width: 220px;
}

.email {
  margin: 20px 0px 20px 0px;
  font-size: 20px;
  color: gray;
}

.info-edit {
  font-size: 17px;
  border: solid 1px gray;
  background-color: white;
  color: gray;
  padding: 5px 30px 5px 30px;
}

.right-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  margin: 80px 0px 0px 50px;
}

.right-section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  margin-top: 80px;
}

.inviteModal {
  padding-top: 12rem;
}

.inviteTitle {
  font-size: 20px;
  font-weight: bold;
}

.modalBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.userBox {
  width: 400px;
  height: 80px;
  padding: 10px 20px 0px 20px;
}

.userprofile img {
  width: 50px;
  margin: 0px 30px 0px 30px;
}

.searchId {
  margin-right: 3rem;
}

.modalInvite {
  background-color: #fff0aa;
  color: #996602;
  font-weight: bold;
  border: solid 1px #996602;
  width: 8rem;
}

.modalInvite:hover {
  background-color: white;
  color: #996602;
  font-weight: bold;
  border: solid 1px #996602;
}

.userIdSearch {
  margin: 8px;
  padding: 5px;
  width: 350px;
}

.inviteFooter {
  padding: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalInviteClose {
  background-color: white;
  color: #996602;
  font-weight: bold;
  border: solid 1px #996602;
  width: 200px;
  margin-right: 20px;
}

.modalInviteClose:hover {
  background-color: white;
  color: #996602;
  font-weight: bold;
  border: solid 1px #996602;
}

.myPage-button {
  display: flex;
  flex-wrap: wrap; /* 버튼들을 여러 줄로 나누기 위해 flex-wrap 속성 추가 */
}

.myPage-button1 button,
.myPage-button2 button {
  display: flex;
  align-items: center;
  margin: 40px 20px 60px 60px; /* 버튼들 간의 간격 조절 */
  border: none;
  background-color: white;
  font-size: 20px;
}

.myPage-button1 button svg,
.myPage-button2 button svg {
  margin-right: 20px; /* 아이콘 오른쪽에 5px의 간격 추가 */
  color: gray;
  font-size: 30px;
}

.unregisterModal {
  padding-top: 13rem;
}

.unregisterTitle img {
  width: 10rem;
}

.modalUnregisterHeader {
  background-color: #fff0aa;
}

.modalUnregisterBody {
  padding: 30px;
}

.modalunregisterFooter {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalUnregisterYes,
.modalUnregisterNo {
  background-color: #fff0aa;
  color: #996602;
  font-weight: bold;
  border: solid 1px #996602;
  width: 200px;
  margin: 0px 10px 0px 10px;
}

.modalUnregisterYes:hover,
.modalUnregisterNo:hover {
  background-color: #fff0aa;
  color: #996602;
  font-weight: bold;
  border: solid 1px #996602;
}
