@charset "UTF-8";

.food-container {
    display: flex;
    align-items: center;
    height: 13rem;
    padding: 1.2rem 2.4rem;
    cursor: pointer;
    box-shadow: 0 -0.5px 0 0 #FFF0AA;
}

.food-info {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.restaurant-name {}

.top-section {
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.phone-num{}

.right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
}

.food-list {
    margin: 0;
    padding: 0.5rem 0;
}

.figure-container {}

span{
    font-size: 1.1rem;
}

& + span {
    margin-left: 0.5rem;
}


.status {
    border-radius: 0.2rem;
    padding: 0.1rem 0.3rem;
}

&.green {
    background-color: green;
    color: #FFF
}

.food-img {
    width: 10.5rem;
    height: 10.5rem;
    margin-left: 1rem;

}

